.tabs.tabs-tabbox {
	width: 100%;
	float: none;
}
@media (min-width: 720px) {
	.tabs.tabs-tabbox {
		max-width: 350px;
		float: right;
	}
}

.tabs.tabs-tabbox input.tabs-input,
.tabs.tabs-tabbox label,
.tabs.tabs-tabbox wbr {
	display: none;
}

.tabs.tabs-tabbox .tabs-container .tabs-content {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border: solid 1px #eeeeee;
	border-top: none;
	padding: 0.5em;
}

.tabs.tabs-tabbox .tabs-container .tabs-header {
	position: relative;
	display: block;
	background-color: #f9f9f9;
	border: solid 1px #eeeeee;
	margin: 0.3em 0 0 0;
	padding: 0.7em 2em 0.7em 0.7em;
	height: auto;
	font: inherit;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 0.3em;
}

.tabs.tabs-tabbox .tabs-container .tabs-header:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2em;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 40% auto;
	background-image: url('data:image/svg+xml,<%3Fxml%20version%3D"1.0"%20encoding%3D"UTF-8"%20standalone%3D"no"%3F>%0A<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%20-407%2024%2024">%0A%20%20%20%20<g%20id%3D"g4">%0A%20%20%20%20%20%20%20%20<path%20d%3D"M21.348-401.268q.94%200%201.61.668l.92.922-11.858%2011.86L.198-399.66l.922-.94q.65-.686%201.59-.686.94%200%201.61.668l7.718%207.7%207.7-7.682q.67-.668%201.61-.668z"%20id%3D"path6"%20fill%3D"currentColor"%2F>%0A%20%20%20%20<%2Fg>%0A<%2Fsvg>%0A');
}

.tabs.tabs-tabbox .tabs-container h5.tabs-header.active:after {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
